/* 全局表格样式 */
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding:16px 0;
    white-space: nowrap;
}
.ant-table-tbody > tr > td{
    padding:10px 10px!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: 0;
}
/* antd日历 */
.signAdministration .ant-fullcalendar-fullscreen .ant-fullcalendar-date{
    height:220px!important;
}
.signAdministration .ant-fullcalendar-content{
    height: 180px!important;
    
}
.signAdministration .ant-fullcalendar-content .notes-month{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
/* 考勤页日期修改 */
.signAdministration .ant-fullcalendar-header{
    text-align: center;
}
.signAdministration .ant-radio-group-outline{
    display: none;
}
/* 管理中心页 左侧功能栏样式 */
.application .ant-menu-item{  /* 子项*/
    padding: 0!important;
    text-align: center;
}
/* 管理中心页 面包屑导航样式*/
.application .ant-breadcrumb{
    padding: 10px;
}
/* 项目档案页 下拉选择框样式 */
.projectInfo .inputCont .ant-select-selection--single{
    box-sizing: border-box;
    width: 100%;
}
/* 供应商页 项目列表表格样式 */
.projectInfo .corpBasicDetail .cont section .ant-table-align-center{
    padding: 0;
}
/* 特种人员页 表格地址列样式 */
.specialPersonnel .ant-table-tbody .ant-table-row td:last-of-type{
    width: 20%;
}
/* 应用 实名制页面按类别查找 */
.realName .table1 .ant-table-tbody .ant-table-row td:nth-of-type(6),.realName .table2 .ant-table-tbody .ant-table-row td:nth-of-type(6){
    width:10%;
}   
/* 应用 实名制页面按岗位查找 */
.realName .table2 .ant-table-tbody .ant-table-row td:nth-of-type(7){ 
    width:20%;
}
/* 应用设备统计 表格项目状态 */
.equipmentStatistics .table1 .ant-table-tbody .ant-table-row td:nth-of-type(6){ 
    width:10%;
}
/* 监理报告 表格 标题 */
.supervisionReport .table2 .ant-table-tbody .ant-table-row td:nth-of-type(9){ 
    width:15%;
}
.supervisionReport .table1 .ant-table-tbody .ant-table-row td:nth-of-type(6),.supervisionReport .table2 .ant-table-tbody .ant-table-row td:nth-of-type(6){ 
    width:10%;
}